achievement
  color: white
  background-color: blue
  border-radius: 32px
  bottom: 2em
  box-sizing: border-box
  display: block
  font-family: helvetica, sans-serif
  height: 64px
  left: 0
  margin: auto
  padding: 8px
  position: absolute
  right: 0
  width: 300px

  > h2
    font-size: 1.25em
    margin: 0

  > p
    margin-top: 8px
    margin-bottom: 8px

  > icon
    background-color: white
    border-radius: 32px
    color: blue
    display: inline-block
    float: left
    font-size: 35px
    height: 48px
    line-height: 48px
    margin-right: 8px
    text-align: center
    width: 48px
